/* banner container */

.banner-container{
  background-image: url("resources/Banner\ Image.png");
  width: 1320px;
  height: 600px;
  margin: 50px auto 0;
  border-radius: 16px;
}
.banner{
  border-radius: 16px;background: linear-gradient(180deg, #070211 0%, rgba(7, 2, 17, 0.00) 100%); }
.banner-title{
  color: #FFF;
  text-align: center;
  font-family: Merriweather;
  font-size: 32px;
  font-weight: 400;
  padding: 170px 530px 0;  
}
.banner-title-descrip{
  color: #FFF;
  text-align: center;
  font-family: Merriweather;
  font-size: 72px;
  font-weight: 900;
  line-height: 95px; /* 131.944% */
  margin-top: 15px;
}

/* main section */
.discount{
  text-align: center;
  font-family: 'Inter', sans-serif;
}


.main-section{
  color: #F00;
  font-size: 88px;
  font-weight: 700;
  margin-top: 120px;
}
.section-description{
  color: #F00;
  font-size: 24px;
  font-weight: 500;
  margin-top: 50px;
}
.section-descripton2{
  color: #070211;
  font-size: 48px;
  font-weight: 700;
  margin-top: 15px;
}
/* party 2024 */
.party-2024{
  background-image: url("resources/Vectorrr.png");
  width: 1320px;
  height: 600px;
  margin: 120px auto;
}

.party-leniar{
  background: linear-gradient(90deg, #070211 0%, rgba(7, 2, 17, 0.00) 100%);
  width: 1320px;
  height: 600px;
  border-radius: 15px;
}
.party-title{
  color: #FFF;
  font-family: Merriweather;
  font-size: 64px;
  font-weight: 900;
  line-height: 88px;
  letter-spacing: 7.04px;
  padding-left: 126px;
  padding-top: 126px;
}
.party-description{
  color: rgba(255, 255, 255, 0.80);
  font-family: 'Inter', sans-serif;
  font-size: 18px;
  font-weight: 400;
  line-height: 30px; 
  padding-left: 126px;
  padding-right: 490px;
  padding-top: -10px;
  gap: 45;
}
.party-btn{
  margin-top:45px;
  margin-left: 150px;
  font-family: 'Inter', sans-serif;
  font-size: 15px;
  font-weight: 700;
  
}
.twenty-foure{
  display: flex;
  width: 315px;
  height: 460px;
  margin-top: -495px;
  margin-left: 850px ;
  flex-direction: column;
  align-items: center;
}

/* join now date time  */
.joi-time{
  text-align: center;
  border-radius: 15px;
  background: linear-gradient(180deg, rgba(255, 0, 0, 0.10) 0%, rgba(255, 0, 0, 0.00) 100%);
  width: 1320px;
  height: 482px;
  margin: auto;
  
}



.from-date{
  color: #F00;
  text-align: center;
  font-family: 'Inter', sans-serif;
  font-size: 32px;
  font-style: normal;
  font-weight: 600;
  line-height: 56px;
  text-transform: capitalize;
}
.date-title{
  color: #070211;
  font-family: 'Inter', sans-serif;
  font-size: 32px;
  font-weight: 600;
  line-height: 56px;
  text-transform: capitalize;
  padding-top: 100px;
}
.join-btn{
  border-radius: 8px;
  background: #F00;
  display: inline-flex;
  padding: 16px 32px;
  justify-content: center;
  align-items: center;
  gap: 10px;
  color: #FFF;
  text-align: center;
  font-family: 'Inter', sans-serif;
  font-size: 20px;
  font-weight: 700;
  text-transform: uppercase;
  border: none;
}

/* circle offer  */
.new-best-offer{
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 616px;
  border-radius: 16px;
  margin-left: 315px;
  margin-right: 315px;
}
.best-offer-content{
  height: 35%;
  width: 33.33%;
  margin-right: px;
}
.new{
  color: #F00;
  text-align: left;
  font-family: Inter;
  font-size: 24px;
  font-weight: 500;
}
.coming{
  color: #070211;
  font-family: Merriweather;
  font-size: 48px;
  font-weight: 900;;
  text-transform: capitalize;
}
.dolor-description{
  color: rgba(7, 2, 17, 0.60);
  font-family: Inter;
  font-size: 20px;
  font-weight: 400;
  line-height: 32px; 
  
}
.best-offer-img img {
  width: 60%;
  height: 90%;
  border-radius: 463px;
  border: 15px solid #F00;
  padding: 20px;
}

.best-offer-content-with-img{
  width: 30%;
  height: 30%;
}
.twn-24{
  color: #F00;
  font-family: Inter;
  font-size: 48px;
  font-weight: 700;

}
.discription-dolor{
  color: rgba(7, 2, 17, 0.60);
  font-family: Inter;
  font-size: 20px;
  font-weight: 400;
  line-height: 32px;  
}
/* hoy */
.what{color: #070211;
  font-family: Inter;
  font-size: 24px;
  font-weight: 500;
  margin-left: 750px;
}
.holy{
  color: #070211;
  font-family: Merriweather;
  font-size: 72px;
  font-weight: 900;
  margin-left: 600px;
}
.holy-red{
  color: #F00;
  text-align: center;
  font-family: Merriweather;
  font-size: 72px;
  font-weight: 900;
}
.holy-description{
  color: rgba(7, 2, 17, 0.60);
  font-family: Inter;
  font-size: 20px;
  line-height: 32px;
  margin-left: 550px;
  margin-right: 400px;
}
/* gift */
.gift{
  color: #F00;
  font-family: Inter;
  font-size: 20px;
  font-weight: 500;
  margin-left: 140px;
  margin-right: 890px;
  
}
.our{
  color: #070211;
  font-family: Merriweather;
  font-size: 48px;
  font-weight: 900;
  text-transform: capitalize;
  margin-left: 140px;
}
.gift-description{
  color: rgba(7, 2, 17, 0.60);
  font-family: Inter;
  font-size: 20px;
  font-weight: 400;
  line-height: 32px;
  margin-left: 140px;
  margin-right: 560px; 
}










