/* banner container */
.banner-container{
  background-image: url("resources/Banner\ Image.png");
  width: 1320px;
  height: 600px;
  margin: 50px auto 0;
  border-radius: 16px;
}
.banner{
  border-radius: 16px;background: linear-gradient(180deg, #070211 0%, rgba(7, 2, 17, 0.00) 100%); }
.banner-title{
  color: #FFF;
  text-align: center;
  font-family: Merriweather;
  font-size: 32px;
  font-weight: 400;
  padding: 170px 530px 0;

  
}
.banner-title-descrip{
  color: #FFF;
  text-align: center;color: #FFF;
  text-align: center;
  font-family: Merriweather;
  font-size: 72px;
  font-weight: 900;
  line-height: 95px; /* 131.944% */
  margin-top: 15px;
}




